<footer>
  <div class="row sk-footer align-items-center">
    <div class="col-8">
      <i class="fa-sharp fa-solid fa-copyright"></i> 2023 . All Rights Reserved
    </div>
    <div class="col-4 d-flex justify-content-end socials">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      &nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa-brands fa-solid fa-twitter"></i></a>
    </div>
  </div>
</footer>

</div>
</div>
</body>

</html>