<%- include('./partials/header.ejs')%>

<div class="welcome-msg">
  <h1>Welcome to the Gaming Skin Trade!</h1>
  <h4>Trade Skins for CS-Go, Valorant, Dota (coming soon) and many other Games</h4>
</div>

<%- include('./partials/footer.ejs')%>