<%- include('../partials/header.ejs')%>
<form class="trade-form" action="/users/login" method='POST'>
  <div class="row mb-5"></div>
  <div class="row mb-3">
    <label for="email" class="col-sm-3 col-form-label">Email Address</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="email" name="email" placeholder="Input the traders email-id" required>
    </div>
  </div>

  <div class="row mb-3">
    <label for="password" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" name="password" placeholder="Input the traders password" minlength="8" maxlength="64" required>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-6 text-center">
      <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </div>
  </div>

</form>

<%- include('../partials/footer.ejs')%>