<%- include('../partials/header.ejs')%>
  <form class="trade-form" action="/users" method='POST'>
    <div class="row mb-5"></div>
    <div class="row mb-3">
      <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Input the traders first name" required>
      </div>
    </div>

    <div class="row mb-3">
      <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Input the traders last name" required>
      </div>
    </div>

    <div class="row mb-3">
      <label for="email" class="col-sm-3 col-form-label">Email Address</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="email" name="email" placeholder="Input the traders email-id" required>
      </div>
    </div>

    <div class="row mb-3">
      <label for="password" class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="password" name="password" placeholder="Input the traders password" minlength="8" maxlength="64" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6 text-center">
        <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
      </div>
    </div>
  </form>
<%- include('../partials/footer.ejs')%>